
.shop-product-title{
    padding-bottom: 0.2em;
    padding-top: 0.8em;
    font-weight:bolder;
    font-size: 2rem;
    text-align: center;
}

.shop-product-price{
    font-weight: bold;
    text-align: center;
    margin-left:15%;
    margin-top: 10px;
}

.shop-product-units
{
    margin-top: 10px;
}

h1{
    text-align: center;
    font-size: xxx-large;
}

div[class='shop-product card'] {
    border-style:solid;
    border-radius: 15px;
    border-color: black;
    margin:20px;
    text-align: center;
}